<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Magnet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>

    <script type="text/ng-template" id="customPopupTemplate.html">
        <div class="custom-popup-wrapper"
             ng-style="{top: position().top+'px', left: position().left+'px'}"
             style="display: block;"
             ng-show="isOpen() && !moveInProgress"
             aria-hidden="{{!isOpen()}}">
            <p class="message">select location from drop down.</p>

            <ul class="dropdown-menu" role="listbox">
                <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                    ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                    <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                </li>
            </ul>
        </div>
    </script>

    <div ng-app="myapp" ng-controller="mapsController" id="mapsController">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fliud">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img id="logo" src="~/Content/images/magnet_logo.png" />
                    @*@Html.ActionLink("MAGNET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                            <li>@Html.ActionLink("Admin", "About", "Home")</li>
                            <li>@Html.ActionLink("Sign In", "Contact", "Home")</li>
                        </ul>
                    </div>
            </div>
        </div>


        <div class="container-fliud body-content" id="main">
            @RenderBody()
            @*<footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @* AngularJS library *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.min.js"></script>
  
    @* google map*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.2/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-8Av18Bw9F3bxlQrp184_gsW1RPUHuUY"async defer></script>*@
    <script src="~/Scripts/maps.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAB35X9OAAyLmkjsp8R8vufHJKLIoHMn94&callback=initMap'></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</body>
</html>

